<!DOCTYPE html>
<html oncontextmenu='return false' onkeydown='return false' onselectstart="return false">
  <head>
    <title>404</title>
    <link rel='stylesheet' href='../stylesheets/style404.css' />
    <link rel="shortcut icon" href="../stylesheets/favicon.png">
    <meta charset="utf-8" />
  </head>
  <body oncontextmenu='return false' onkeydown='return false' onselectstart="return false">
   <center>
     <!-- <h1><%= title %></h1> -->
     <p>WEB SERVICE <%= copyr %></p>
     <br><p>ERROR 404</p><br><p>La pagina solicitada no existe</p>
   </center>
  </body>
</html>

<!-- @Carlos -->
